@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
body {
    width: 100vw;
    height: 200vh;
    margin: 0;
    overflow: visible;
    background-color: rgb(12, 12, 12)
}
nav {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 5rem;
    background-color: rgb(12, 12, 12);
    z-index: 1;
}
ul {
    display: grid;
    align-items: baseline;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    transform: translateY(25%);
    list-style-type: none;
}
li {
    position: relative;
}
a {
    text-decoration: none;
    color: rgb(249, 242, 234);
}
.menu-title {
    font-size: 2.25rem;
    font-family: "VT323", monospace;
    margin-bottom: 50px;
}
.menu-options {
    font-size: 1rem;
    font-family: "Montagu Slab", serif;
}
.menu-options:hover {
    transition: 300ms;
    background-color: yellow;
    color: rgb(12,12,12);
}
#logo {
    width: 40px;
    height: 40px;
}
@media screen and (min-width: 650px) {
    .nav1 {
        grid-area: 1 / 1 / 2 / 2;
        padding-left: 5vw;
        display: flex;
        justify-content: space-between;
    }
    .dropdown {
        visibility: hidden;
    }
}
@media only screen and (max-width: 650px) {
    .nav1 {
        visibility: hidden;
        width: 0;
        height: 0;
    }
        /* Dropdown Button */
    .dropbtn {
        width: 1.5rem;
        height: 1.5rem;
        margin-left: 5vw;
        background-image: url("../images/dropdown.png");
        transform: translateY(5px);
        border: none;
        cursor: pointer;
    }
    
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgb(12, 12, 12);
        min-width: 160px;
        z-index: 1;
        transform: translateY(10px);
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
        padding-top: 1vh;
        margin-left: 5vw;
        color: rgb(249, 242, 234);
        text-decoration: none;
        display: block;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: yellow;}
    
    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {display:block;}
}
.nav2 {
    grid-area: 1 / 2 / 2 / 4;
    text-align: center;
}
.nav3 {
    grid-area: 1 / 4 / 2 / 5;
    padding-right: 5vw;
    text-align: right;
}
#box {
    margin: auto;
    width: 100%;
    height: 50%;
    padding: 0;
    z-index: 9;
}