@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
:root {
    --green: #00FF00;
    --black: #0C0C0C;
    --yellow: #FFFF00;
    --white: #F9F2EA;
}
body {
    width: 100vw;
    height: 200vh;
    margin: 0;
    overflow: visible;
    background-color: var(--black);
}
nav {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 10vh;
    background-color: var(--black);
    z-index: 3;
}
ul {
    display: grid;
    align-items: baseline;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    transform: translateY(25%);
    list-style-type: none;
}
li {
    position: relative;
}
a {
    text-decoration: none;
    color: var(--white);
}
.menu-options:hover {
    transition: 300ms;
    background-color: var(--yellow);
    color: var(--black);
}
#logo {
    width: 40px;
    height: 40px;
}
/* FOR DESKTOP */
@media screen and (min-width: 551px) {
    .menu-title {
        font-size: 2.2rem;
        font-family: "VT323", monospace;
        margin-bottom: 50px;
    }
    .menu-options {
        font-size: 1rem;
        font-family: "Montagu Slab", serif;
    }
    .nav1 {
        grid-area: 1 / 1 / 2 / 2;
        padding-left: 5vw;
        display: flex;
        justify-content: space-between;
    }
    .dropdown {
        visibility: hidden;
    }
}
/* FOR PHONE */
@media only screen and (max-width: 550px) {
    .menu-title {
        font-size: 1.5rem;
        font-family: "VT323", monospace;
        margin-bottom: 50px;
    }
    .menu-options {
        font-size: 0.75rem;
        font-family: "Montagu Slab", serif;
    }
    .nav1 {
        visibility: hidden;
        width: 0;
        height: 0;
    }
    .nav3 {
        visibility: hidden;
    }

    .dropbtn {
        width: 1.5rem;
        height: 1.5rem;
        margin-left: 5vw;
        background-image: url("../images/dropdown.png");
        transform: translateY(5px);
        border: none;
        cursor: pointer;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: var(--black);
        min-width: 160px;
        z-index: 1;
        transform: translateY(10px);
    }
    
    .dropdown-content a {
        padding-top: 1vh;
        margin-left: 5vw;
        color: var(--white);
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {background-color: var(--yellow);}
    .show {display:block;}
}
.nav2 {
    grid-area: 1 / 2 / 2 / 4;
    text-align: center;
}
.nav3 {
    display: flex;
    justify-content: flex-end;
    gap: 2vw;
    grid-area: 1 / 4 / 2 / 5;
    padding-right: 5vw;
}
main {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 15vh;
    width: 100%;
    height: 50vw;
    background-color: var(--black);
}
#box {
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 50vw;
    padding: 0;
    z-index: 1;
}
#message {
    font-family: "Montagu Slab", serif;
    font-weight: 200;
    font-size: 1.5vw;
    position: absolute;
    display: flex;
    align-items: center;
    top: 15vh;
    left: 55vw;
    height: 50vw;
    color: var(--green);
    opacity: 0;
    filter: blur(2rem);
    text-shadow: 0 0 2vw rgba(0, 255, 0, 0.5);
    z-index: 2;
}
.footer-wrapper {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
.footer {
    height: 10vh;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: absolute;
    bottom: 0; 
}
.date {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 5 / 2 / 7; 
    font-family: "Montagu Slab", serif;
    font-weight: 300;
    font-size: 0.85rem;
    color: var(--green);
    text-shadow: 0 0 2vw rgba(0, 255, 0, 0.5);
}
.div2 { 
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 8 / 2 / 9; 
    text-shadow: 0 0 2vw rgba(0, 255, 0, 0.5);
    transform: translateY(-4px);
}
.div3 { 
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 9 / 2 / 10; 
    text-shadow: 0 0 2vw rgba(0, 255, 0, 0.5);
    transform: translateY(-2px);
}
.div4 { 
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 10 / 2 / 11; 
    text-shadow: 0 0 2vw rgba(0, 255, 0, 0.5);
    transform: translateY(-2px);
}
.div5 { 
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: "Montagu Slab", serif;
    font-weight: 300;
    font-size: 0.85rem;
    color: var(--green);
    text-shadow: 0 0 2vw rgba(0, 255, 0, 0.5);
    grid-area: 1 / 1 / 2 / 3; 
}