@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
body {
    width: 100vw;
    height: 200vh;
    margin: 0;
    overflow: visible;
    background-color: rgb(12, 12, 12);
}
nav {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 10vh;
    background-color: rgb(12, 12, 12);
    z-index: 1;
}
ul {
    display: grid;
    align-items: baseline;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    transform: translateY(25%);
    list-style-type: none;
}
li {
    position: relative;
}
a {
    text-decoration: none;
    color: rgb(249, 242, 234);
}
.menu-options:hover {
    transition: 300ms;
    background-color: yellow;
    color: rgb(12,12,12);
}
#logo {
    width: 40px;
    height: 40px;
}
/* FOR DESKTOP */
@media screen and (min-width: 551px) {
    .menu-title {
        font-size: 2.2rem;
        font-family: "VT323", monospace;
        margin-bottom: 50px;
    }
    .menu-options {
        font-size: 1rem;
        font-family: "Montagu Slab", serif;
    }
    .nav1 {
        grid-area: 1 / 1 / 2 / 2;
        padding-left: 5vw;
        display: flex;
        justify-content: space-between;
    }
    .dropdown {
        visibility: hidden;
    }
}
/* FOR PHONE */
@media only screen and (max-width: 550px) {
    .menu-title {
        font-size: 1.5rem;
        font-family: "VT323", monospace;
        margin-bottom: 50px;
    }
    .menu-options {
        font-size: 0.75rem;
        font-family: "Montagu Slab", serif;
    }
    .nav1 {
        visibility: hidden;
        width: 0;
        height: 0;
    }
    .nav3 {
        visibility: hidden;
    }
        /* Dropdown Button */
    .dropbtn {
        width: 1.5rem;
        height: 1.5rem;
        margin-left: 5vw;
        background-image: url("../images/dropdown.png");
        transform: translateY(5px);
        border: none;
        cursor: pointer;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgb(12, 12, 12);
        min-width: 160px;
        z-index: 1;
        transform: translateY(10px);
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
        padding-top: 1vh;
        margin-left: 5vw;
        color: rgb(249, 242, 234);
        text-decoration: none;
        display: block;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: yellow;}
    
    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {display:block;}
}
.nav2 {
    grid-area: 1 / 2 / 2 / 4;
    text-align: center;
}
.nav3 {
    grid-area: 1 / 4 / 2 / 5;
    padding-right: 5vw;
    text-align: right;
}
@media screen and (min-width: 451px) {
    .cover-photo {
        width: 90vw;
        height: 60vh;
        object-fit: cover;
        padding-left: 5vw;
        padding-right: 5vw;
        margin-bottom: -4px;
    }
    .collage {
        width: 90vw;
        height: 90vh;
        display: grid;
        grid-template-columns: 1.68fr 1fr;
        grid-template-rows: 1.68fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-left: 5vw;
    }
    #img1 {
        object-fit: cover;
        width: 56.4179vw;
        height: 50vh;
        grid-area: 1 / 1 / 3 / 2; 
    }
    #img2 {
        object-fit: cover;
        width: 33.5821vw; 
        height: 50vh;
        grid-area: 1 / 2 / 2 / 3; 
    }
    #img3 {
        object-fit: cover;
        width: 33.5821vw; 
        height: 40vh;
        grid-area: 2 / 2 / 3 / 3; 
    }
    #vid1 {
        object-fit: cover;
        width: 56.4179vw;
        height: 40vh;
        grid-area: 2 / 1 / 3 / 2;
    }
}
@media only screen and (max-width: 450px) {
    .cover-photo {
        width: 90vw;
        height: 40vh;
        object-fit: cover;
        padding-left: 5vw;
        padding-right: 5vw;
        margin-bottom: -4px;
    }
    .collage {
        width: 90vw;
        height: 120vh;
        margin-left: 5vw;
    }
    #img1 {
        object-fit: cover;
        width: 90vw;
        height: 40vh;
        margin-bottom: -4px;
    }
    #img2 {
        object-fit: cover;
        width: 90vw; 
        height: 40vh;
        margin-bottom: -23px;
    }
    #img3 {
        width: 0;
        height: 0;
    }
    #vid1 {
        object-fit: cover;
        width: 90vw;
        height: 40vh;
    }
}

