@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
body {
    width: 100vw;
    height: 200vh;
    margin: 0;
    overflow: visible;
    background-color: rgb(12, 12, 12);
}
/*Navigation General Styling*/
nav {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 10vh;
    background-color: rgb(12, 12, 12);
    z-index: 3;
}
ul {
    display: grid;
    align-items: baseline;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    transform: translateY(25%);
    list-style-type: none;
}
li {
    position: relative;
}
a {
    text-decoration: none;
    color: rgb(249, 242, 234);
}
.menu-options:hover {
    transition: 300ms;
    background-color: yellow;
    color: rgb(12,12,12);
}
#logo {
    width: 40px;
    height: 40px;
}
/* FOR DESKTOP */
@media screen and (min-width: 551px) {
    /*Navigation Desktop Styling*/
    .menu-title {
        font-size: 2.2rem;
        font-family: "VT323", monospace;
        margin-bottom: 50px;
    }
    .menu-options {
        font-size: 1rem;
        font-family: "Montagu Slab", serif;
    }
    .nav1 {
        grid-area: 1 / 1 / 2 / 2;
        padding-left: 5vw;
        display: flex;
        justify-content: space-between;
    }
    .nav3 {
        display: flex;
        justify-content: flex-end;
        gap: 2vw;
        grid-area: 1 / 4 / 2 / 5;
        padding-right: 5vw;
    }
    .dropdown {
        visibility: hidden;
    }
    /*Cart Desktop Styling*/
    .cart-item {
        height: 100px;
        width: 40vw;
        display: flex;
    }
    #cart-display {
        right: -50vw;
        top: 10vh;
        width: 50%;
        height: 100%;
    }
    @keyframes slide {
        from { right: -50vw; }
        to { right: 0; }
    }
}
/* FOR PHONE */
@media only screen and (max-width: 550px) {
    /*Navigation Phone Styling*/
    .menu-title {
        font-size: 1.5rem;
        font-family: "VT323", monospace;
        margin-bottom: 50px;
    }
    .menu-options {
        font-size: 0.75rem;
        font-family: "Montagu Slab", serif;
    }
    .nav1 {
        visibility: hidden;
        width: 0;
        height: 0;
    }
    .nav3 {
        grid-area: 1 / 4 / 2 / 5;
        padding-right: 5vw;
    }
    #contact {
        visibility: hidden;
    }
    .nav3 {
        position: absolute;
        right: 5vw;
        width: 1.5rem;
        height: 1.5rem;
        border: none;
        cursor: pointer;
        transform: translateY(-5px);
        z-index: 4;
    }
    .dropbtn {
        width: 1.5rem;
        height: 1.5rem;
        margin-left: 5vw;
        background-image: url("../images/dropdown.png");
        transform: translateY(5px);
        border: none;
        cursor: pointer;
    }  
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgb(12, 12, 12);
        min-width: 160px;
        z-index: 1;
        transform: translateY(10px);
    }
    .dropdown-content a {
        padding-top: 1vh;
        margin-left: 5vw;
        color: rgb(249, 242, 234);
        text-decoration: none;
        display: block;
    }
    .dropdown-content a:hover {background-color: yellow;}
    .show {display:block;}
    /*Cart Phone Styling*/
    #cart-display {
        width: 100%;
        height: 40vh;
        top: -40vh;
    }
    @keyframes slide {
        from { top: -100vh; }
        to { top: 10vh; }
    }
    .cart-item {
        height: 100px;
        width: 80vw;
        display: flex;
    }
}
/* FOR DESKTOP */
@media screen and (min-width: 451px) {
    /*Pictures Phone Styling*/
    .cover-photo {
        width: 90vw;
        height: 60vh;
        object-fit: cover;
        padding-left: 5vw;
        padding-right: 5vw;
        margin-bottom: -4px;
    }
    .collage {
        width: 90vw;
        height: 90vh;
        display: grid;
        grid-template-columns: 1.68fr 1fr;
        grid-template-rows: 1.68fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-left: 5vw;
    }
    #img1 {
        object-fit: cover;
        width: 56.4179vw;
        height: 50vh;
        grid-area: 1 / 1 / 3 / 2; 
    }
    #img2 {
        object-fit: cover;
        width: 33.5821vw; 
        height: 50vh;
        grid-area: 1 / 2 / 2 / 3; 
    }
    #img3 {
        object-fit: cover;
        width: 33.5821vw; 
        height: 40vh;
        grid-area: 2 / 2 / 3 / 3; 
    }
    #vid1 {
        object-fit: cover;
        width: 56.4179vw;
        height: 40vh;
        grid-area: 2 / 1 / 3 / 2;
    }
}
/* FOR PHONE */
@media only screen and (max-width: 450px) {
    .cover-photo {
        width: 90vw;
        height: 40vh;
        object-fit: cover;
        padding-left: 5vw;
        padding-right: 5vw;
        margin-bottom: -4px;
    }
    .collage {
        width: 90vw;
        height: 120vh;
        margin-left: 5vw;
    }
    #img1 {
        object-fit: cover;
        width: 90vw;
        height: 40vh;
        margin-bottom: -4px;
    }
    #img2 {
        object-fit: cover;
        width: 90vw; 
        height: 40vh;
        margin-bottom: -23px;
    }
    #img3 {
        width: 0;
        height: 0;
    }
    #vid1 {
        object-fit: cover;
        width: 90vw;
        height: 40vh;
    }
}
/*Navigation General Styling*/
.nav2 {
    grid-area: 1 / 2 / 2 / 4;
    text-align: center;
}
.nav3 {
    grid-area: 1 / 4 / 2 / 5;
    padding-right: 5vw;
    text-align: right;
}
.nav3 button {
    font-family: "Montagu Slab", serif;
    background-color: var(--black);
    color: var(--white);
    border: none;
    padding: 0;
    cursor: pointer;
}
/*Cart General Styling*/
.show-cart-shadow {
    transition: 300ms;
    background: rgba(12, 12, 12, 0.5);
    visibility: visible !important;
}
.show-cart {
    animation: slide 500ms forwards;
}
#cart-shadow {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    visibility: hidden;
}
#cart-display {
    position: fixed;
    overflow: scroll;
    background: var(--black);
    z-index: 3;
}
.cart h2 {
    text-align: center;
    color: var(--green);
    font-size: .75rem;
    font-family: "Montagu Slab", serif;
    font-weight: 200;
    text-shadow: 0 0 2vw rgba(0, 255, 0, 0.5);
}
.cart-content {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 4;
}
.cart-item-list {
    overflow: scroll;
}
.cart-item img {
    object-fit: contain;
    height: 100px;
    width: 100px;
}
.cart-item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 2vw;
    padding-top: 30px;
    padding-bottom: 30px;
    color: var(--white);
}
.cart-item-details h4 {
    margin: 0;
    font-size: 1rem;
    font-family: "VT323", monospace;
}
.cart-item-details h5 {
    margin: 0;
    font-size: 1rem;
    font-family: "VT323", monospace;
}
.remove-btn-wrapper {
    display: flex;
    align-items: center;
    height: 100px;
    width: 30px;
    margin-left: auto;   
}
.remove-btn {
    height: 15px;
    width: 15px;
    background-color: #F9F2EA;
}
.cart-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100px;
}
.cart-footer hr{
    width: 100%;
    border-top: 1px solid var(--white);
}
.cart-subtotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 79%;
    height: 50px;
    color: var(--white);
}
.cart-subtotal h4{
    font-size: 1rem;
    font-family: "VT323", monospace;
}
.cart-subtotal h5{
    font-size: 1rem;
    font-family: "VT323", monospace;
}
.cart-footer a {
    font-family: "Montagu Slab", serif;
    font-size: .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 2rem;
    color: var(--black);
    background-color: var(--green);
    border: 1px solid var(--green);
    box-shadow: 0 0 2vw rgba(0, 255, 0, 0.5);
    border-radius: 10px;
    cursor: pointer;
}