@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
:root {
    --green: #00FF00;
    --black: #0C0C0C;
    --yellow: #FFFF00;
    --white: #F9F2EA;
}
body {
    width: 100vw;
    height: 200vh;
    margin: 0;
    overflow: visible;
    background-color: rgb(12, 12, 12);
}
nav {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 10vh;
    background-color: rgb(12, 12, 12);
    z-index: 1;
}
ul {
    display: grid;
    align-items: baseline;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    transform: translateY(25%);
    list-style-type: none;
}
li {
    position: relative;
}
a {
    text-decoration: none;
    color: rgb(249, 242, 234);
}
.menu-options:hover {
    transition: 300ms;
    background-color: yellow;
    color: rgb(12,12,12);
}
/* FOR DESKTOP */
@media screen and (min-width: 551px) {
    .menu-title {
        font-size: 2.2rem;
        font-family: "VT323", monospace;
        margin-bottom: 50px;
    }
    .menu-options {
        font-size: 1rem;
        font-family: "Montagu Slab", serif;
    }
    .nav1 {
        grid-area: 1 / 1 / 2 / 2;
        padding-left: 5vw;
        display: flex;
        justify-content: space-between;
    }
    .dropdown {
        visibility: hidden;
    }
    .items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        gap: 10px;
        background-color: var(--black);
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }
    .item { 
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        aspect-ratio: 4/5;
        color: var(--white);
    }
    .item-desc {
        grid-area: 5 / 1 / 6 / 5;
    }
    .item h3{
        margin: 0 auto 0 auto;
        font-size: 1.25rem;
        font-family: "VT323", monospace;
        width: fit-content;
    }
    .item p{
        margin: 0 0 10px 0;
        font-size: 1rem;
        font-family: "VT323", monospace;
        text-align: center;
    }
}
/* FOR PHONE */
@media only screen and (max-width: 550px) {
    .menu-title {
        font-size: 1.5rem;
        font-family: "VT323", monospace;
        margin-bottom: 50px;
    }
    .menu-options {
        font-size: 0.75rem;
        font-family: "Montagu Slab", serif;
    }
    .nav1 {
        visibility: hidden;
        width: 0;
        height: 0;
    }
    .nav3 {
        visibility: hidden;
    }
        /* Dropdown Button */
    .dropbtn {
        width: 1.5rem;
        height: 1.5rem;
        margin-left: 5vw;
        background-image: url("../images/dropdown.png");
        transform: translateY(5px);
        border: none;
        cursor: pointer;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: var(--black);
        min-width: 160px;
        z-index: 10;
        transform: translateY(10px);
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
        padding-top: 1vh;
        margin-left: 5vw;
        color: var(--white);
        text-decoration: none;
        display: block;
        z-index: 10;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: yellow;}
    
    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {display:block;}

    .items {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 10px;
        background-color: var(--black);
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }
    .item { 
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        aspect-ratio: 4/5;
        color: var(--white);
    }
    .item-desc {
        grid-area: 5 / 1 / 6 / 5;
    }
    .item h3{
        margin: 0 auto 0 auto;
        font-size: 1.25rem;
        font-family: "VT323", monospace;
        width: fit-content;
    }
    .item p{
        margin: 0 0 10px 0;
        font-size: 1rem;
        font-family: "VT323", monospace;
        text-align: center;
    }
}
.item a{
    grid-area: 1 / 1 / 6 / 5; 
    width: 100%;
    height: 100%;
    text-decoration: none; /* No underlines on the link */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}
.item img {
    grid-area: 1 / 1 / 5 / 5;
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.item:hover {
    cursor: pointer;
}
.item:hover h3{
    color: var(--black);
    background-color: yellow;
    transition: 300ms;
}
.nav2 {
    grid-area: 1 / 2 / 2 / 4;
    text-align: center;
}
.nav3 {
    display: flex;
    justify-content: flex-end;
    gap: 2vw;
    grid-area: 1 / 4 / 2 / 5;
    padding-right: 5vw;
}